nav {
        height: 4rem;
    
    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
            
        li {
            position: relative;
            font-size: 3rem;
            font-weight: 700;
            letter-spacing: 2px;
            display: inline-block;
            line-height: 4rem;
            text-transform: uppercase;
            cursor: pointer;
            color: $col-gold-1;
            //background-image: linear-gradient(-110deg, $col-main 0%, $col-main 40%, transparent 40%);
            transition: color .38s;
            
            
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                width: 3px;
                height: 100%;
                background-color: $col-gold-1;
                transform: scaleY(0);
                //transform-origin: bottom;
                transition: transform .4s,
                            width .2s .4s;
                
            }
            
            &:hover::before {
                transform: scaleY(1);
                width: 100%;
                
            }
            
            &:hover {
                //color: $col-gold-1;
                color: $col-main;
                //background-position: 100%;
            }
        }
    }
}
    
.section-header {
    height: 100vh;
    background-image: linear-gradient(to right, $col-main 0%, $col-main 40%, transparent 40%), url("../image/hero_image.jpg");
    background-size: cover;
    color: white;
    position: relative;
        
    & .header__main {
        margin-left: 20rem;
        margin-top: 20rem;
        display: inline-block;
        
        @include respond(tab-land) {
            margin-left: 19.5rem;
            margin-top: 15rem;
        }
        
        @include respond(tab-port) {
            margin-left: 14.4rem;
            margin-top: 15rem;
        }
        
        & h1 {
            font-size: 20rem;
            text-transform: uppercase;
            letter-spacing: 4rem;
        }
        
        & h2 {
            font-size: 10rem;
            text-transform: uppercase;
            font-weight: 100;
            letter-spacing: .6rem;
        }
    }
    
    & .header__sub {
        max-width: 20%;
        transform: rotate(90deg);
        display: inline-block;
        position: absolute;
        left: -11.4rem;
        top: 36.7rem;
        padding: 0 0 0 5rem;
        border-left: 1rem solid #fff;
        
        @include respond(tab-land) {
            max-width: 25rem;
            left: -8.7rem;
            top: 28.5rem;
        }
        
        @include respond(tab-port) {
            max-width: 25rem;
            left: -9.5rem;
            top: 29rem;
            padding: 0 0 0 3rem;
            border-left: .8rem solid #fff;
        }
        
        & h4 {
          text-transform: uppercase;
          font-size: 2rem;
          letter-spacing: 2px;
          margin-bottom: 1rem;
        }
        
        & p {
            line-height: 1.5;
        }
    }
    
}
